<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.cpi.jstldemo.resource.mappers.StudentMapper">
	<resultMap type="com.cpi.jstldemo.entity.Student" id="studentMap">
		<result property="name" 	column="NAME"/>
		<result property="age" 		column="AGE"/>
	</resultMap>
	
	<select id="getStudents" resultMap="studentMap">
		SELECT NAME, AGE FROM STUDENT
	</select>
	
	<update id="addStudent">
		INSERT INTO STUDENT(NAME,AGE)
		VALUES(#{name},#{age})
	</update>
</mapper>